.tab-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-color 0.3s;
  }
  
  .tab-button.active {
    color: white;
    border-color: #7e22ce; /* purple-500 */
  }
  
  .tab-button.inactive {
    color: #9ca3af; /* gray-400 */
    border-color: transparent;
  }
  
  .tab-button:hover {
    color: white;
  }